
*.meta
Temp/UnityLockfile
*/obj/*
*/bin/*
Temp/
Library/metaData/
AssetServerCacheV3
AssetVersioning.db
FailedAssetImports.txt
ScriptAssemblies/
ScriptMapper
assetDatabase3
expandedItems
guidmapper
metadata
*.rej
obj
Temp
Build
*.suo
