Temp/UnityLockfile
*/obj/*
*/bin/*
Temp/
AssetServerCacheV3
AssetVersioning.db
FailedAssetImports.txt
ScriptAssemblies/
ScriptMapper
assetDatabase3
expandedItems
guidmapper
*.rej
obj
Temp
Build
*.suo
Library/
